<!DOCTYPE html>
<html lang="en"
      dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Password</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots"
          content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="/static/luma/public/vendor/spinkit.css"
          rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css"
          href="/static/luma/public/vendor/perfect-scrollbar.css"
          rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css"
          href="/static/luma/public/css/material-icons.css"
          rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css"
          href="/static/luma/public/css/fontawesome.css"
          rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css"
          href="/static/luma/public/css/preloader.css"
          rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css"
          href="/static/luma/public/css/app.css"
          rel="stylesheet">

</head>

<body class="layout-sticky-subnav layout-default ">

<div class="preloader">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>

    <!-- <div class="sk-bounce">
<div class="sk-bounce-dot"></div>
<div class="sk-bounce-dot"></div>
</div> -->

    <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
</div>

<!-- Header Layout -->
<div class="mdk-header-layout js-mdk-header-layout">

    <!-- Header -->

    <div id="header"
         class="mdk-header js-mdk-header mb-0"
         data-fixed
         data-effects="">
        <div class="mdk-header__content">
            {%include 'luma/Demos/Fixed_Layout/navbar.html'%}

        </div>
    </div>

    <!-- // END Header -->

    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content ">

        <div class="page-section pb-0">
            <div class="container page__container d-flex flex-column flex-sm-row align-items-sm-center">
                <div class="flex">
                    <h1 class="h2 mb-0">Change Password</h1>
                    <p class="text-breadcrumb">Account Management</p>
                </div>
                <p class="d-sm-none"></p>
                <a href=""
                   class="btn btn-outline-secondary flex-column">
                    Need Help?
                    <span class="btn__secondary-text">Contact us</span>
                </a>
            </div>
        </div>

        <div class="page-section">
            <div class="container page__container">
                <div class="page-separator">
                    <div class="page-separator__text">Change Password</div>
                </div>
                <form action="/change_password/" method="post"
                      class="col-sm-5 p-0">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label"
                               for="password">Password:</label>
                        <input id="password"
                               type="password"
                               class="form-control"
                               placeholder="Type a new password ..."
                               name="password"
                        >
                        <input type="hidden" name="user_id" value={{user_id}}>
                        >

                    </div>
                    <div class="form-group">
                        <label class="form-label"
                               for="password2">Confirm Password:</label>
                        <input id="password2"
                               type="password"
                               class="form-control"
                               placeholder="Confirm your new password ...">
                    </div>
                    <button type="submit"
                            class="btn btn-primary">Save password
                    </button>
                    <input type="hidden" name="password_reset_code" value={{password_reset_code}}>
                </form>
            </div>
        </div>

    </div>
    <!-- // END Header Layout Content -->

    <!-- Footer -->

    <div class="bg-white border-top-2 mt-auto">
        <div class="container page__container page-section d-flex flex-column">
            <p class="text-70 brand mb-24pt">
                <img class="brand-icon"
                     src="/static/luma/public/images/logo/black-70@2x.png"
                     width="30"
                     alt="Luma"> Luma
            </p>
            <p class="measure-lead-max text-50 small mr-8pt">Luma is a beautifully crafted user interface for modern
                Education Platforms, including Courses & Tutorials, Video Lessons, Student and Teacher Dashboard,
                Curriculum Management, Earnings and Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.</p>
            <p class="mb-8pt d-flex">
                <a href=""
                   class="text-70 text-underline mr-8pt small">Terms</a>
                <a href=""
                   class="text-70 text-underline small">Privacy policy</a>
            </p>
            <p class="text-50 small mt-n1 mb-0">Copyright 2019 &copy; All rights reserved.</p>
        </div>
    </div>

    <!-- // END Footer -->

</div>
<!-- // END Header Layout -->

<!-- Drawer -->

<div class="mdk-drawer js-mdk-drawer"
     id="default-drawer">
{%include 'luma/Demos/Fixed_Layout/sidenavbar.html'%}    </div>
</div>

<!-- // END Drawer -->

<!-- jQuery -->
<script src="/static/luma/public/vendor/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="/static/luma/public/vendor/popper.min.js"></script>
<script src="/static/luma/public/vendor/bootstrap.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="/static/luma/public/vendor/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="/static/luma/public/vendor/dom-factory.js"></script>

<!-- MDK -->
<script src="/static/luma/public/vendor/material-design-kit.js"></script>

<!-- App JS -->
<script src="/static/luma/public/js/app.js"></script>

<!-- Preloader -->
<script src="/static/luma/public/js/preloader.js"></script>

</body>

</html>