<!DOCTYPE html>
{%load static%}
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Account</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="{%static 'luma/public/vendor/spinkit.css'%}"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="{%static 'luma/public/vendor/perfect-scrollbar.css'%}"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="{%static 'luma/public/css/material-icons.css'%}"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="{%static 'luma/public/css/fontawesome.css'%}"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="{%static 'luma/public/css/preloader.css'%}"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="{%static 'luma/public/css/app.css'%}"
              rel="stylesheet">

    </head>

    <body class="layout-sticky-subnav layout-default ">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

            <!-- <div class="sk-bounce">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
  </div> -->

            <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
        </div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <div id="header"
                 class="mdk-header js-mdk-header mb-0"
                 data-fixed
                 data-effects="">
                <div class="mdk-header__content">

                    <!-- Navbar -->

                   {%include 'luma/Demos/Fixed_Layout/navbar.html'%}
                    <!-- // END Navbar -->

                </div>
            </div>

            <!-- // END Header -->

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">

                <div class="pt-32pt">
                    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">Account</h2>

                                <ol class="breadcrumb p-0 m-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                    <li class="breadcrumb-item">

                                        <a href="">Account</a>

                                    </li>

                                    <li class="breadcrumb-item active">

                                        Edit Account

                                    </li>

                                </ol>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="container page__container page-section">
                    <div class="page-separator">
                        <div class="page-separator__text">Basic Information</div>
                    </div>
                    <div class="col-md-6 p-0">
                        <form method="POST" action="{%url 'Edit-account'%}">
                            {%csrf_token%}
                            <div class="form-group">
                                <label class="form-label">First name</label>
                                <input type="text"
                                       class="form-control"
                                       name="firstname"
                                       value="{{user.first_name}}"
                                       placeholder="Your first name ...">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Last name</label>
                                <input type="text"
                                       class="form-control"
                                       name="lastname"
                                       value="{{user.last_name}}"
                                       placeholder="Your last name ...">
                            </div>
<!--                            <div class="form-group">-->
<!--                                <label class="form-label">Email address</label>-->
<!--                                <input type="email"-->
<!--                                       class="form-control"-->
<!--                                       value="alexander.watson@fake-mail.com"-->
<!--                                       placeholder="Your email address ...">-->
<!--                                <small class="form-text text-muted">Note that if you change your email, you will have to confirm it again.</small>-->
<!--                            </div>-->
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <a class="ml-sm-auto text-underline" style=" padding-left:20px ">Reset password</a>
                        </form>
                    </div>
                </div>

            </div>
            <!-- // END Header Layout Content -->

            <!-- Footer -->

            <div class="bg-white border-top-2 mt-auto">
                <div class="container page__container page-section d-flex flex-column">
                    <p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="{%static 'luma/public/images/logo/black-70@2x.png'%}"
                             width="30"
                             alt="Luma"> Luma
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt">Luma is a beautifully crafted user interface for modern Education Platforms, including Courses & Tutorials, Video Lessons, Student and Teacher Dashboard, Curriculum Management, Earnings and Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.</p>
                    <p class="mb-8pt d-flex">
                        <a href=""
                           class="text-70 text-underline mr-8pt small">Terms</a>
                        <a href=""
                           class="text-70 text-underline small">Privacy policy</a>
                    </p>
                    <p class="text-50 small mt-n1 mb-0">Copyright 2019 &copy; All rights reserved.</p>
                </div>
            </div>

            <!-- // END Footer -->

        </div>
        <!-- // END Header Layout -->

        <!-- Drawer -->

        <div class="mdk-drawer js-mdk-drawer"
             id="default-drawer">
{%include 'luma/Demos/Fixed_Layout/sidenavbar.html'%}            </div>
        </div>

        <!-- // END Drawer -->

        <!-- jQuery -->
        <script src="{%static 'luma/public/vendor/jquery.min.js'%}"></script>

        <!-- Bootstrap -->
        <script src="{%static 'luma/public/vendor/popper.min.js'%}"></script>
        <script src="{%static 'luma/public/vendor/bootstrap.min.js'%}"></script>

        <!-- Perfect Scrollbar -->
        <script src="{%static 'luma/public/vendor/perfect-scrollbar.min.js'%}"></script>

        <!-- DOM Factory -->
        <script src="{%static 'luma/public/vendor/dom-factory.js'%}"></script>

        <!-- MDK -->
        <script src="{%static 'luma/public/vendor/material-design-kit.js'%}"></script>

        <!-- App JS -->
        <script src="{%static 'luma/public/js/app.js'%}"></script>

        <!-- Preloader -->
        <script src="{%static 'luma/public/js/preloader.js'%}"></script>

    </body>

</html>