<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Sign Up</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="/static/luma/public/vendor/spinkit.css"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="/static/luma/public/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="/static/luma/public/css/material-icons.css"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="/static/luma/public/css/fontawesome.css"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="/static/luma/public/css/preloader.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="/static/luma/public/css/app.css"
              rel="stylesheet">

    </head>

    <body class="layout-sticky-subnav layout-default ">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

            <!-- <div class="sk-bounce">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
  </div> -->

            <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
        </div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <div id="header"
                 class="mdk-header js-mdk-header mb-0"
                 data-fixed
                 data-effects="">
                <div class="mdk-header__content">
{%include 'luma/Demos/Fixed_Layout/navbar.html'%}

                </div>
            </div>

            <!-- // END Header -->

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">

                <div class="py-32pt navbar-submenu">
                    <div class="container page__container">
                        <div class="progression-bar progression-bar--active-accent">
                            <a href="pricing.html"
                               class="progression-bar__item progression-bar__item--complete">
                                <span class="progression-bar__item-content">
                                    <i class="material-icons progression-bar__item-icon">done</i>
                                    <span class="progression-bar__item-text h5 mb-0 text-uppercase">Pricing</span>
                                </span>
                            </a>
                            <a href="signup.html"
                               class="progression-bar__item progression-bar__item--complete progression-bar__item--active">
                                <span class="progression-bar__item-content">
                                    <i class="material-icons progression-bar__item-icon"></i>
                                    <span class="progression-bar__item-text h5 mb-0 text-uppercase">Account details</span>
                                </span>
                            </a>
                            <a href="signup-payment.html"
                               class="progression-bar__item">
                                <span class="progression-bar__item-content">
                                    <i class="material-icons progression-bar__item-icon"></i>
                                    <span class="progression-bar__item-text h5 mb-0 text-uppercase">Payment details</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="page-section container page__container">
                    <div class="col-lg-10 p-0 mx-auto">
                        <div class="row">
                            <div class="col-md-6 mb-24pt mb-md-0">
                                <form action="/signup/" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-label"
                                               for="name">First name:</label>
                                        <input id="name1"
                                               type="text"
                                               class="form-control"
                                               placeholder="Your first name ..."
                                                name="firstname">
                                    </div>
                                     <div class="form-group">
                                        <label class="form-label"
                                               for="name">Last name:</label>
                                        <input id="name"
                                               type="text"
                                               class="form-control"
                                               placeholder="Your last name ..."
                                                name="lastname">
                                     </div>
                                    <div class="form-group">
                                        <label class="form-label"
                                               for="email">Your email:</label>
                                        <input id="email"
                                               type="email"
                                               class="form-control"
                                               placeholder="Your email address ..."
                                                name="email">
                                    </div>
                                    <div class="form-group mb-24pt">
                                        <label class="form-label"
                                               for="password">Password:</label>
                                        <input id="password"
                                               type="password"
                                               class="form-control"
                                               placeholder="Your password ..."
                                                name="password">
                                    </div>
                                    <button class="btn btn-primary">Create account</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <h5>Purchase summary</h5>
                                        <div class="d-flex mb-8pt">
                                            <div class="flex"><strong class="text-70">Subscription</strong></div>
                                            <strong>Student</strong>
                                        </div>

                                        <div class="alert alert-soft-warning">
                                            <div class="d-flex flex-wrap align-items-start">
                                                <div class="mr-8pt">
                                                    <i class="material-icons">check</i>
                                                </div>
                                                <div class="flex"
                                                     style="min-width: 180px">
                                                    <small class="text-100">
                                                        Access to over 1.000 high quality courses. <strong>For individuals.</strong>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex mb-16pt pb-16pt border-bottom">
                                            <div class="flex"><strong class="text-70">Price</strong></div>
                                            <strong>US &dollar;9 per month</strong>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   class="custom-control-input"
                                                   checked
                                                   id="topic-all">
                                            <label class="custom-control-label">Terms and conditions</label>
                                            <small class="form-text text-muted">By checking here and continuing, I agree to the Luma Terms of Use</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-separator justify-content-center m-0">
                    <div class="page-separator__text">or sign-in with</div>
                </div>
                <div class="page-section text-center">
                    <div class="container page__container">
                        <a href="signup-payment.html"
                           class="btn btn-secondary btn-block-xs">Facebook</a>
                        <a href="signup-payment.html"
                           class="btn btn-secondary btn-block-xs">Twitter</a>
                        <a href="signup-payment.html"
                           class="btn btn-secondary btn-block-xs">Google+</a>
                    </div>
                </div>

            </div>
            <!-- // END Header Layout Content -->

            <!-- Footer -->

            <div class="bg-white border-top-2 mt-auto">
                <div class="container page__container page-section d-flex flex-column">
                    <p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="/static/luma/public/images/logo/black-70@2x.png"
                             width="30"
                             alt="Luma"> Luma
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt">Luma is a beautifully crafted user interface for modern Education Platforms, including Courses & Tutorials, Video Lessons, Student and Teacher Dashboard, Curriculum Management, Earnings and Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.</p>
                    <p class="mb-8pt d-flex">
                        <a href=""
                           class="text-70 text-underline mr-8pt small">Terms</a>
                        <a href=""
                           class="text-70 text-underline small">Privacy policy</a>
                    </p>
                    <p class="text-50 small mt-n1 mb-0">Copyright 2019 &copy; All rights reserved.</p>
                </div>
            </div>

            <!-- // END Footer -->

        </div>
        <!-- // END Header Layout -->

        <!-- Drawer -->

        <div class="mdk-drawer js-mdk-drawer"
             id="default-drawer">
{%include 'luma/Demos/Fixed_Layout/sidenavbar.html'%}            </div>
        </div>

        <!-- // END Drawer -->

        <!-- jQuery -->
        <script src="/static/luma/public/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="/static/luma/public/vendor/popper.min.js"></script>
        <script src="/static/luma/public/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="/static/luma/public/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="/static/luma/public/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="/static/luma/public/vendor/material-design-kit.js"></script>

        <!-- App JS -->
        <script src="/static/luma/public/js/app.js"></script>

        <!-- Preloader -->
        <script src="/static/luma/public/js/preloader.js"></script>

    </body>

</html>